<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traveler Panel</title>
    <link rel="stylesheet" href="./materialize.min.css">
    <link rel="stylesheet" href="./styles.css">

</head>

<body>
        <a class="btn-floating btn-large waves-effect waves-light red" href="./agentMy"><img
            src="./ASSETS/icons/back.png" alt=""></a>
    <div class="forBackRegister">
        <br><br><br>
        <form id="changePassForm" method="POST">
            <h2>Change My Password</h2>
            <%if(notCorrect){%>
                <p style="color: tomato; text-align: center; font-weight: 500; font-size: 20px;">Wrong Old Password</p>
            <%}%>
            <div class="input-field col s12">
                <input id="password" type="password"  name ="oldPass" class="validate">
                <label for="password">Input Old Password</label>
            </div>
            <div class="input-field col s12">
                <input id="passwordN" type="password" name="newPass" class="validate">
                <label for="passwordN">Input New Password</label>
            </div>
            <div class="input-field col s12">
                <input id="passwordC" type="password" name="conPass" class="validate">
                <label for="passwordC">Confirm New Password</label>
            </div>
            <button class="waves-effect waves-light btn-large signinbutton" type="submit">Change My Password</button>
        </form>
    <script src="./materialize.min.js"></script>
</div>
</body>

</html>