<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./materialize.min.css">
    <link rel="stylesheet" href="./styles.css">
    <title>Delete Traveler</title>
</head>
<body>
    <div id="forRedBG">
    <div id="deletedTraveler">
        <img src="./ASSETS/icons/delete.png" alt="">
        <h2>Your account is deleted</h2>
        <a class="waves-effect waves-light btn-large" href="/travelerSignInScreen">Goto Sign in screen</a>
    </div>
</div>
</body>
</html>