<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traveler Panel</title>
    <link rel="stylesheet" href="./materialize.min.css">
    <link rel="stylesheet" href="./styles.css">

</head>

<body>
    <a class="changeMyPassword" href="/changePasswordTraveler">Change my Password</a>
    <div id="travelerPanel">
        <a class="btn-floating btn-large waves-effect waves-light red" href="./travelerSignInScreen"><img
                src="./ASSETS/icons/back.png" alt=""></a>

        <h1 id="travelpanelname"></h1>
        <div class="TravelerPanel">

            <a class="optionsTravelerPanel" href="/selectTheTripD">
                <img src="./ASSETS/icons/show.svg" alt="">
                <h2>Show my details</h2>
            </a>
            <a class="optionsTravelerPanel" href="/editDetails">
                <img src="./ASSETS/icons/edit.svg" alt="">
                <h2>Edit my details</h2>

            </a>
            <a class="optionsTravelerPanel" href="/deleteConfirmation">
                <img src="./ASSETS/icons/delete.svg" alt="">
                <h2>Delete my account</h2>
            </a>
        </div>
        <a id="forAnother" href="/anotherTrip">Register For Another Trip</a>
        <a id="forPart" href="/selectTheTripC?id=">Add A Trip Participant</a>
        <a class="changeMyPassword" id="logout" href="/logout?ver=traveler">Log Out</a>
        <a class="prices" href="/prices">Show Prices</a>
        <script src="./materialize.min.js"></script>
    </div>
</body>

</html>